@page
@model presentation.dashboard.pages.account.GetModel
@{
    ViewData["Title"] = "get";
    Layout = "~/pages/shared/_layout.cshtml";
}

<h1>get</h1>

<form method="post">
    <div>
        <input type="text" name="Username" />
    </div>
    <div>
        <input type="text" name="Password" />
    </div>
    <div>
        <input type="checkbox" name="RememberMe" />
    </div>
    <div>
        <input type="button" formmethod="post" name="Signin" asp-page-handler="Signin" />
    </div>
</form>