USE [biavoo]
GO
/****** Object:  StoredProcedure [dbo].[api_user_signUp]    Script Date: 5/2/2019 7:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[api_user_signUp]
	-- [user]
	@Name NVARCHAR(64),
	@Family NVARCHAR(64),
	@Nickname NVARCHAR(64) = NULL,
	-- [userProperty]
	@CellPhone VARCHAR(16) = NULL,
	@Email NVARCHAR(128) = NULL,
	@ActivitionCode INT,
	-- [session]
	@TimeZone VARCHAR(16),
	@Language VARCHAR(8),
	@DeviceId VARCHAR(128),
	@IP VARCHAR(16),
	@OS VARCHAR(64),
	@Version VARCHAR(64),
	@DeviceName VARCHAR(64) = NULL,
	@Browser VARCHAR(64) = NULL
AS
BEGIN
	SET NOCOUNT ON;

	IF(@CellPhone IS NULL AND @Email IS NULL)
		RETURN 420;

	-- CellPhone checking
	IF(@CellPhone IS NOT NULL AND EXISTS(SELECT 1 FROM [dbo].[userProperty] WITH(NOLOCK) WHERE PropTypeId = 2 AND [Value] = @CellPhone))
		RETURN 421;
    
	-- Email checking
	IF(@Email IS NOT NULL AND EXISTS(SELECT 1 FROM [dbo].[userProperty] WITH(NOLOCK) WHERE PropTypeId = 3 AND [Value] = @Email))
		RETURN 422;

	BEGIN TRAN userSignUp
	BEGIN
		BEGIN TRY
			DECLARE @userId INT;

			-- Create [user]
			INSERT INTO dbo.[user] ([Name], [Family], [Nickname], [Username]) VALUES (@Name, @Family, @Nickname, dbo.NewUsername())
			SET @userId = SCOPE_IDENTITY()
			
			-- Create [userProperty] (ActivationCode)
			INSERT INTO dbo.userProperty ([UserId], [PropTypeId], [Value]) VALUES (@userId, 5, @ActivitionCode)

			IF(@CellPhone IS NOT NULL)
				-- Create [userProperty] (CellPhone)
				INSERT INTO dbo.userProperty ([UserId], [PropTypeId], [Value]) VALUES (@userId, 2, @CellPhone)

			IF(@Email IS NOT NULL)
				-- Create [userProperty] (Email)
				INSERT INTO dbo.userProperty ([UserId], [PropTypeId], [Value]) VALUES (@userId, 3, @Email)

			-- Create [session]
			DECLARE @token VARCHAR(32) = REPLACE(NEWID(), '-', '')
			INSERT INTO dbo.session ([UserId], [Token], [DeviceId], [IP], [OS], [Version], [DeviceName], [Browser], [TimeZone], [Language])
			VALUES (@userId, @token, @DeviceId, @IP, @OS, @Version, @DeviceName, @Browser, @TimeZone, @Language)

			COMMIT TRAN userSignUp;

			SELECT * FROM [dbo].[user] WHERE Id = @userId
			SELECT * FROM dbo.userProperty WHERE UserId = @userId
			RETURN 200;
		END TRY
		BEGIN CATCH
			ROLLBACK TRAN userSignUp;
			RETURN 500;
		END CATCH
	END
END
GO
