IF(OBJECT_ID('dbo.[user]', 'P') IS NOT NULL)
    DROP TABLE dbo.[user];
GO

/****** Object:  Table [dbo].[user]    Script Date: 2019-10-05 14:07:42 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[user](
	[Id] [INT] IDENTITY(1,1) NOT NULL,
	[Name] [NVARCHAR](64) NOT NULL,
	[Family] [NVARCHAR](64) NOT NULL,
	[Nickname] [NVARCHAR](64) NULL,
	[Username] [VARCHAR](16) NOT NULL,
	[Password] [VARCHAR](32) NULL,
	[Avatar] [NVARCHAR](512) NULL,
	[ModifiedAt] [DATETIME] NOT NULL,
	[CreatedAt] [DATETIME] NOT NULL,
	[Status] [TINYINT] NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF__user__ModifiedAt]  DEFAULT (GETDATE()) FOR [ModifiedAt]
GO

ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_CreatedAt]  DEFAULT (GETDATE()) FOR [CreatedAt]
GO

ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user_Status]  DEFAULT ((10)) FOR [Status]
GO

EXEC sys.sp_addextendedproperty @name=N'AppSection', @value=N'Developer$$$list|add|delete|edit|filter|print|excel|details' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'user'
GO