IF(OBJECT_ID('dbo.[historyLog]', 'U') IS NOT NULL)
    DROP TABLE dbo.[historyLog];
GO

/****** Object:  Table [dbo].[historyLog]    Script Date: 5/2/2019 7:46:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historyLog](
	[Id] BIGINT IDENTITY(1,1) NOT NULL,
	[UserId] INT NOT NULL,
	[ActivityId] UNIQUEIDENTIFIER NULL,
	[ActivityType] TINYINT NOT NULL,
	[Data] NVARCHAR(MAX) NULL,
	[CreatedAt] DATETIME NOT NULL,
 CONSTRAINT [PK_ChangeLog] PRIMARY KEY CLUSTERED 
(
	[Id] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[historyLog] ADD  CONSTRAINT [DF_HistoryLog_CreatedAt]  DEFAULT (GETDATE()) FOR [CreatedAt]
GO
