IF(OBJECT_ID('dbo.[exception]', 'U') IS NOT NULL)
    DROP TABLE dbo.[exception];
GO

/****** Object:  Table [dbo].[exception]    Script Date: 5/2/2019 7:46:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exception](
	[Id] BIGINT IDENTITY(1,1) NOT NULL,
	[CreatedAt] DATETIME NOT NULL,
	[URL] NVARCHAR(1024) NOT NULL,
	[Data] NVARCHAR(MAX) NOT NULL,
	[Message] NVARCHAR(MAX) NOT NULL,
	[Source] NVARCHAR(MAX) NOT NULL,
	[StackTrace] NVARCHAR(MAX) NOT NULL,
	[TargetSite] NVARCHAR(MAX) NULL,
	[IP] NVARCHAR(16) NOT NULL,
 CONSTRAINT [PK_Exception] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[exception] ADD  CONSTRAINT [DF_exception_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
